.containerLayout{
    padding: 16px;
    background-color: $color-darkBlue;
}

.Titulo{
    font-size: 24px;
    font-weight: 600;
    color: $color-white;
    padding-bottom: 8px;
    background-color: $color-darkBlue;
}

.Subtitulo{
    font-size: 16px;
    font-weight: 400;
    color: $color-white;
    padding-bottom: 4px;
    background-color: $color-darkBlue;
}